<ion-header [translucent]="true">
    <ion-toolbar mode="md" >
    	<ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
      <ion-title>
        OS & Software
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
   

  

    

      <ion-slides [options]="option" >
        <ion-slide>
          <ion-card>
           <img src="assets/New folder/bs.png" />
          <ion-card-content>
            <ion-card-title class="ft">Os & Software</ion-card-title>
            <ion-button  color="success" expand="block" routerLink="/message" >Massage</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>


      <ion-slides [options]="option" >
        <ion-slide>
          <ion-card>
           <img src="assets/New folder/wind.jpg" />
          <ion-card-content>
            <ion-card-title class="ft">Window 10 Home/Pro</ion-card-title>
            <ion-button  color="success" expand="block" routerLink="/message" >Massage</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>



      <ion-slides [options]="option" >
        <ion-slide>
          <ion-card>
           <img src="assets/New folder/adb.png" />
          <ion-card-content>
            <ion-card-title class="ft">Adobe Photoshop</ion-card-title>
            <ion-button  color="success" expand="block" routerLink="/message" >Massage</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>


 
      <ion-slides [options]="option" >
        <ion-slide>
          <ion-card>
           <img src="assets/New folder/ant.jpg" />
          <ion-card-content>
            <ion-card-title class="ft">Antivirus</ion-card-title>
            <ion-button  color="success" expand="block" routerLink="/message" >Massage</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>


      <ion-slides [options]="option" >
        <ion-slide>
          <ion-card>
           <img src="assets/New folder/off.png" />
          <ion-card-content>
            <ion-card-title class="ft">Office 365</ion-card-title>
            <ion-button  color="success" expand="block" routerLink="/message" >Massage</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>

      <ion-slides [options]="option" >
        <ion-slide>
          <ion-card>
           <img src="assets/New folder/game.jpg" />
          <ion-card-content>
            <ion-card-title class="ft">Game</ion-card-title>
            <ion-button  color="success" expand="block" routerLink="/message" >Massage</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>


    </ion-content>
