<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title>
PACKAGE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

	      <ion-slides [options]="option" >
        <ion-slide>
          <ion-card>
           <img src="assets/New folder/img1.png" />
          <ion-card-content>
         
            <ion-button  color="success" expand="block" routerLink="/service" >Service</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>


            <ion-slides [options]="option" >
        <ion-slide>
          <ion-card>
           <img src="assets/New folder/img2.png" />
          <ion-card-content>
 
            <ion-button  color="success" expand="block" routerLink="/install" >Install OS/Software</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>



	


<ion-button  color="success" expand="block" routerLink="/login" >Log Out</ion-button>


</ion-content>
