
<ion-header [translucent]="true">
    <ion-toolbar mode="md" >
      <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
      <ion-title>
        Service
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
   

<ion-item>
  <ion-thumbnail routerLink="/message" slot="start">
    <img src="assets/New folder/scr.png" />
  </ion-thumbnail>
  <ion-label>Screen Problem</ion-label>
    <ion-button  color="success" expand="block" routerLink="/message" >Massage</ion-button>
</ion-item>

<ion-item>
  <ion-thumbnail routerLink="/message" slot="start">
    <img src="assets/New folder/ssd.jpg" />
  </ion-thumbnail>
  <ion-label>Upgrade SSD</ion-label>
  <ion-button  color="success" expand="block" routerLink="/message" >Massage</ion-button>
</ion-item>

<ion-item>
  <ion-thumbnail routerLink="/message" slot="start">
    <img src="assets/New folder/ram.jpg" />
  </ion-thumbnail>
  <ion-label>Upgrade RAM</ion-label>
  <ion-button  color="success" expand="block" routerLink="/message" >Massage</ion-button>
</ion-item>
    
<ion-item>
  <ion-thumbnail routerLink="/message" slot="start">
    <img src="assets/New folder/bty.jpeg" />
  </ion-thumbnail>
  <ion-label>Battery Problem</ion-label>
  <ion-button  color="success" expand="block" routerLink="/message" >Massage</ion-button>
</ion-item>
    




    </ion-content>