<ion-header>
  <ion-toolbar>
    <ion-title>done</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

      <ion-slides [options]="option" >
        <ion-slide>
          <ion-card>
           <img src="assets/New folder/done.png" />
          </ion-card>
        </ion-slide>
      </ion-slides>
 <ion-card-content><ion-card-title class="ft">Thank You. . .</ion-card-title>
 </ion-card-content>
  
<ion-button  color="success" expand="block"  routerLink="/home" >back</ion-button>
<ion-button  color="success" expand="block" routerLink="/login" >Log Out</ion-button>
</ion-content>
